@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

:root {
    --main-color: #36384c;
    --main-font: #E9DCCD;
    --secondary-color: #849974;
    --details-main-color:#613a43;
    --details-secondary-color: #E3BAB3;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Hammersmith One', sans-serif;
    color: var(--main-font);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.header-container{
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);
    background-image: url('/img/guaxinim.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;

}

h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    font-family: 'Days One', sans-serif;
}


h2{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}


.social-media{
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: var(--details-secondary-color);
    padding: 1rem 4rem;
    border: 1px solid var(--details-secondary-color);
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

a:hover{
    background-color: var(--main-font);

}


/* hamburguer*/

.check-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor:pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

;

.check .trace{
    width: 50px;
    height: 2px;
    background-color: var(--details-main-color);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}


.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}


.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}